<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!-- Max storage to make available. Can use MB, GB suffix. -->
    <add key="size" value="10GB" />
    <!-- Name to present to server -->
    <add key="name" value="40dd1e40-544d-db46-9f67-df0cae847909" />
    <!-- Server URL. Can use tcp:// or ssl:// protocols. Default port is 8765. -->
    <add key="server" value="ssl://cloudstrype.io:8766"/>
    <!-- Storage path. -->
    <add key="path" value="$HOME/.cloudstrype/"/>
  </appSettings>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="SentryAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="FileAppender" />
    </root>
    <appender name="SentryAppender" type="SharpRaven.Log4Net.SentryAppender, SharpRaven.Log4Net">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
      <DSN value="https://635308df00e040e5bf592366b8a37f2b:9c1576b65a654c89a6cfc18889e92799@sentry.io/149793" />
      <Logger value="LOGGER_NAME" />
      <threshold value="ERROR" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="app.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>
